@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Frank+Ruhl+Libre:wght@700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #E5E5E5;
    margin: 0;
}

h1,
h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 900;
    margin: 0;
    letter-spacing: -0.02em;
}

p {
    margin: 0;
}

h1 {
    font-size: 45px;
    line-height: 100%;
}

h2 {
    font-size: 32px;
}

.bg--red {
    background-color: #F17949;
}

.bg--blue {
    color: #000;
    background-color: #C7DDEA;
}

.bg--yellow {
    background-color: #FFB939;
}

.bg--gray {
    background-color: #A9A19E
}

.bg--light-gray {
    background-color: #EBEBEB;
}

.bg--white {
    background-color: #fff;
}

.bg--child {
    background-image: url("../assets/child.png");
}

.bg--adult {
    background-image: url("../assets/adult.png");
}

.bg--old {
    padding-top: 25px !important;
    background-image: url("../assets/old.png");
    background-size: 55% !important;
}

.bg--family {
    background-image: url("../assets/family.png");
}

.bg--man-and-child {
    background-image: url("../assets/man-and-child.png");
}

.font--small {
    font-size: 11px;
    font-weight: 700;
}

.font--medium {
    font-size: 14px;
    font-weight: 500;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(68px, auto);
    max-width: 1000px;
    margin: 0 auto;
}

.header__frontpage {
    display: grid;
    grid-template-columns: inherit;
    grid-row: auto / span 8;
    grid-column: 1 / -1;
}

.header__box {
    padding: 0;
}

.header__box--big {
    grid-row: auto / span 8;
    grid-column: auto / span 3;
    padding: 71px 17px 0 105px;
    background-repeat: no-repeat;
    background-size: 286px 270px;
    background-position: bottom right;
    background-origin: content-box;
}

.header__box--big h1 {
    line-height: 100%;
}

.header__box--big p {
    line-height: 24px;
    margin: 10px 112px 0 0;
}

.header__box--small {
    grid-row: auto / span 4;
    grid-column: auto / span 3;
    color: #fff;
}

.header__box--center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bg--red p,
.bg--yellow p {
    color: #00000080;
}

.bg--blue p,
.bg--gray p {
    color: #00000099;
}

.bg--yellow h1,
.bg--yellow h2,
.bg--gray h1,
.bg--gray h2 {
    color: #fff;
}

.header__box mark {
    color: #fff;
    background-color: inherit;
}

button {
    margin-top: 58px;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    min-width: 130px;
    min-height: 40px;
    background-color: #fff;
    text-transform: uppercase;
}

button:hover {
    color: #fff;
    background-color: #000;
    transition: all ease .1s;
}

.wrapper nav {
    display: grid;
    grid-template-columns: inherit;
    grid-column: 1 / span 6;
}

.navigation {
    grid-column: 2 / span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
}

.navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: auto / span 1;
}

.navigation__item {
    font-size: 12px;
    color: rgba(0, 0, 0, .4);
    text-decoration: none;
    font-weight: 600;
}

.navigation__item:hover {
    color: #000000;
    transition: all ease .1s;
}

.navigation__item--current-page {
    color: #000;
}

.main__frontpage {
    display: grid;
    grid-template-columns: inherit;
    grid-auto-rows: inherit;
    grid-column: 1 / -1;
}

.main__section {
    grid-column: 1 / -1;
}

.main__upper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 103px;
    grid-row: 1 / span 9;
}

.main__upper--left {
    max-width: 320px;
    margin-left: 107px;
}

.main__upper--right {
    max-width: 280px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 24px;
}

.main__lower {
    display: flex;
    justify-content: center;
    padding-top: 230px;
    grid-column: 1 / -1;
    grid-row: 10 / span 10;
    text-align: center;
}

.main__lower section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.main__lower section p {
    margin-top: 25px;
    width: 442px;
    line-height: 20px;
}

.main__cards {
    grid-column: 1 / -1;
    grid-row: 7 / span 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 90px;
}

.main__card {
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
    width: 256px;
    min-height: 308px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.main__card header {
    border-radius: 4px;
    position: absolute;
    top: -26px;
    width: 236px;
    min-height: 150px;
    padding-top: 15px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top center;
    background-origin: content-box;
}

.main__card section {
    margin-top: 120px;
    text-align: center;
    color: #00000066;
}

.main__card h1 {
    font-family: 'Frank Ruhl Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding-top: 22px;
    padding-bottom: 14px;
    color: #000000E5;
}

.main__card p {
    color: #00000066;
    margin: 0 20px;
    line-height: 18px;
}

.steps {
    display: grid;
    grid-template-columns: inherit;
    grid-auto-rows: inherit;
    grid-column: 1 / -1;
}

.steps__box {
    display: flex;
    flex-direction: column;
    grid-column: auto / span 2;
    grid-row: auto / span 5;
    padding: 35px;
}

.box__number {
    font-family: 'Frank Ruhl Libre';
    font-weight: 900;
    font-size: 35px;
    color: #00000066;
}

.box__text {
    margin: auto;
    text-align: center;
}

.box__text p {
    color: #000000B2;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    /* add height of number to even-out the bottom */
    padding-bottom: 2rem;
}

.go-to-top {
    grid-column: auto / span 6;
    grid-row: auto / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.go-to-top a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}

.wrapper>footer {
    grid-column: auto / span 6;
    grid-row: auto / span 5;
    background-color: #777574;
}

/* --- contact --- */
.header__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    grid-row: auto / span 5;
    padding: 0 115px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-origin: content-box;
}

.main__contact {
    display: grid;
    grid-template-columns: inherit;
    grid-column: 1 / -1;
    grid-row: auto / span 8;

    grid-template-areas:
        "header header header form form .";
}

.contact__title {
    padding-top: 106px;
    padding-left: 78px;
    grid-area: header;
}

.contact__form {
    padding-top: 106px;
    grid-area: form;
}

.contact__form form {
    display: flex;
    flex-direction: column;
}

.contact__form label {
    color: #fff;
    font-weight: 700;
    margin: 6px 0;
    opacity: 0.7;
}

.contact__form input[type=text], textarea {
    background: #FEFEFE;
    border-radius: 2px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    padding: 18px;
}

.contact__form input[type=text] {
    margin-bottom: 25px;
}

.contact__form input[type=submit] {
    margin-top: 32px;
    align-self: flex-end;
    flex: 0;
    font-size: 10px;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    min-width: 130px;
    min-height: 40px;
    background-color: #fff;
    text-transform: uppercase;
}

button:hover {
    color: #fff;
    background-color: #000;
    transition: all ease .1s;
}
